/*=======================
Footer
=======================*/

.block.newsletter {
  text-align: center;
  width: 100%;
  background:#fff;
  @media (min-width: @screen__m) {

  }
}
.content {
    margin: 25px 0px;
}
.title-form {
  font-size: 1.5em;
  width: 70%;
  margin-left: 15%;
  line-height: 25px;
  margin-bottom: 15px;
}

.content-email-form {
  margin-bottom: 10px;

    padding: 0 10%;
}

.block.newsletter .form.subscribe {
  display: flex;
  
  justify-content: center;

@media (min-width: @screen__m) {
  width: 50%;
    margin: auto;
}
  .field.newsletter {
    width: 50%;

    .control {
      &:before {
        content: '' !important;
      }

      input#newsletter {
        height: 38px;
        padding-left: 5px;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .actions {
    width: 30%!important;

    button.action.subscribe.primary {
      width: 90%;
      padding: 10px 0;
      background: #4894d1;
      border: 1px solid #4894d1;
    }
  }
}

/*=======================
BIZE ULASIN
=======================*/
.footer-box-bize {
  background: #f4f4f4;
@media (min-width: @screen__m){
  display: none;
}
  .title-bize {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px 0;
  }

  .contact {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
    .telephone, .email-bize {
      width: 50%;
    }

  }
  .image-bize {
    display: inline-block;
    padding: 10px;
    width: 2.5em;
    height: 2.5em;
    background: #e6e6e6;
    border-radius: 50%;
    margin-bottom: 10px;

    img {
      transform: scale(0.7);
    }
  }

  img.image-letter {
    margin-top: 6px;
  }

  .telephone-number, .notice-email {
    font-size: 0.9em;
    font-weight: 600;
  }

  .name-branch, .timework {
    font-size: 0.8em;
    color: #8e8e8e;
  }
}

/*=======================
BOX MORINFO, DROPDOWN
=======================*/

.box-moreinfo {
  background: #f4f4f4;
  @media(min-width: @screen__m) {
    display: none;
  }
}
.name-dropdown.change-background {
  background: #e6e6e6;
  color: #0070c9;
}

.change-background span#sign-dropdown {
  transform: rotateZ(0) translateX(5px) translateY(-10px) !important;
}
.name-dropdown {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 600;

  span#sign-dropdown {
    font-size: 1.5em;
    float: right;
    transform: rotateZ(270deg) translateX(6px);
  }

}
ul.item-dropdown {
  li {
    padding: 10px 0;
    margin: 0 20px !important;
    border-bottom: 1px solid #dadada;
  }
}

hr {
  margin: 0;
  width: 100%;
}



/*=======================
SELECT LOREM
=======================*/

.select-lorem {
  display: none;
  @media (min-width: @screen__m) {
    display: flex;
    padding: 30px 0px;
    background: #f4f4f4;
        width: 100%;
    .select-lorem-box {
    width: 25%;
    padding-left: 8%;
   
    }

    .select-lorem-title {
        font-weight: 600;
        padding-bottom: 10px;
        font-size: 17px;
    }
  }
}


/*=======================
SELECT COUNTRY
=======================*/



.country-edin {
  background: #f4f4f4;
  @media(min-width: @screen__m) {
    display: flex;
    flex-flow: row-reverse;
    border-top: 1px solid #d1d1d1;
    padding: 0 5%;

    .country-takip {
      width: 50%;
      border-bottom: unset;
    }

    .takip-edin {
      width: 50%;
    }
  }


}

.country-takip {
  border-bottom: 1px solid #d1d1d1;
}
.country {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //background: #f4f4f4;
  padding: 25px 0px;

  .image-world {
    width: 30%;

    @media(min-width:@screen__m) {
      width: 130px;
    }
  }

  .country-select {
    width: 170px;
    margin-left: 5%;

    .title-country-select {
      font-size: 15px;
      color: #727272;
    }

    .selected, .one-country {
      padding: 7px 15px;
      background: #ffffff;
      border: 1px solid #dadada;

        img {
          width: 25px;
          height: 17px;
          vertical-align: middle;
        }

        span.name-country  {
          margin-left: 10px;
          font-size: 13px;
          vertical-align: middle;
          font-weight: 500;
          color: #727272;

          a{
            color: #727272;
          };
        }

    }
  }
}

ul#country-drop {
  position: absolute;
  width: 170px;
  z-index: 1000;
}

.selected i.fas.fa-caret-down {
  float: right;
  font-size: 17px;
  margin-top: 2px;
  padding: 0;
  color: #343534;
}


/*=======================
TAKIP EDIN
=======================*/

.takip-edin {
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #f4f4f4;
  padding: 30px 0;


}

.takip-edin img {
  width: 150px;
  margin-left: 15px;
}

/*=======================
PARTNER LOGO
=======================*/
.partner-logo-mobile {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  padding: 30px 0 15px 0;
  @media (min-width: 768px) {
    display:none;
  }

   img {
    height: 1.5em;
    padding: 10px;
    background: #fff;
    margin: 0 8px;
    border: 1px solid #dadada;
  }

}

.partner-logo-desktop {
  display: none;
  @media (min-width: 768px) {
    display:flex;
    justify-content: center;
    background: #f4f4f4;
    padding: 30px 0 15px 0;
    img {
      height: 40px;
      padding: 0 5px;
      @media (min-width: @screen__l) {
        height: 50px;
        padding: 0 10px;
      }
    }
  }

  img {

  }
}



.copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: #f4f4f4;
  margin: 0 !important;
  padding-bottom: 40px;
  color: #727272;
}