body {
  background-color: #fff;
}
.page-header {
    border-bottom: unset;
    margin-bottom: unset;

    &:after {
    content: unset !important;
}
}

a.level-top {
    color: #c9c9c9 !important;
}
.navigation ul {
  background: #343434;
  padding: 0 5%;
}
.header.content {
  @media only screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 10px;
  }
}


.block-search {
  @media (min-width: @screen__m) {
    padding-left: 0;

    .action.search:before {
      font-size: 25px;
      color: black;
      transform: translateY(10px);
    }
  }


}
ul.header.links {
  margin: 0;
  padding: 0;

  span.wishlist-content,

  span.my-account-content {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}

ul.header.links li:nth-child(1) a:before,
ul.header.links li:nth-child(2) a:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 40px;
  z-index: 5;
  background-size: contain;
  @media (min-width:540px){
    width: 26px;
    height: 26px;
  }
  @media (min-width:@screen__m) {
    position: relative;
    top: 29px;
  }
  //@media (min-width:768px){
  //  display: none;
  //}
}
ul.header.links li:nth-child(1) a:before {
  content: '';
  background-image: url("../images/icon_human.png");
  right: 66px;
  @media (min-width:540px){
    right: 80px;
  }
  @media (min-width:768px) {
    right: 26px;
  }
}
ul.header.links li:nth-child(2) a:before{
  content: '';
  right: 40px;
  background-image: url("../images/heart.svg");
  @media (min-width:540px){
    right: 47px;
  }
  @media (min-width:768px) {
    right: 26px;
  }
}

//@media (max-width:768px){
  .authorization-link,
  .item.link.compare,
  ul.header.links {
    display: none;
    @media (min-width:768px) {
      li {
        margin: 0 0 0 40px !important;
      }
    }
  }

  //hidden class not use
.authorization-content,
.greet.welcome,
.register-title,
.nested{
  display: none !important;
}

  li {
    list-style: none;
  }

.panel.header {
  .links {
    display: block;
  }
}

.less_logo(@one:115px, @two:32%, @three:10px) {
  width: @one;
  margin-left: @two;
  transform: translateY(@three);
}
.logo {
  .less_logo();
  //transform: scale(0.8);
  //margin-left: 27%;
  //width: 115px;
  //margin-left: 32%;
  //transform: translateY(10px);
  @media (min-width:360px){
    .less_logo(@one:130px, @three:7px);
  }
  @media (min-width:400px){
    .less_logo(@one:140px, @three:5px);
  }
  @media (min-width:450px){
    .less_logo(@one:150px, @two:34%, @three:5px);
  }
  @media (min-width:500px){
    .less_logo(@one:160px, @two:34%, @three:5px);
  }
  @media (min-width:600px){
    .less_logo(@one:180px, @two:36%, @three:5px);
  }
  @media (min-width:768px){
    .less_logo(@one:189px, @two:38%, @three:0px);
  }
}

.page-header .panel.wrapper {
    // border-bottom: 1px solid #e8e8e8;
    position: relative;
    z-index: 1000;
}
.minicart-wrapper .action.showcart:before ,
.nav-toggle:before,
.field.search .label:before {
  color: #3a3a3a;
  transform: scale(0.8);
  @media (min-width:540px){
    transform: scale(1);
  }
}
.minicart-wrapper, .field.search {
  @media (min-width:640px){
    margin-top: 10px;
  }
}
.minicart-wrapper {
  z-index: 5;
  @media (min-width: @screen__m) {
        transform: translateX(-85px) translateY(-36px);
  }
}
.field.search {
  position: relative;
}

.minicart-wrapper .action.showcart .counter.qty {
  background: blue;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -16px;
  height: 20px;
  min-width: 15px;
  line-height: 20px;
}