.mixin(@one:16px, @two:19px, @three:22px, @four:17px) {
  @media (min-width:@screen__xs) {
    font-size: @one;
  }
  @media (min-width:540px) {
    font-size: @two;
  }
  @media (min-width:@screen__s) {
    font-size: @three;
  }
  @media (min-width:700px) {
    font-size: @four;
  }
}
@media(min-width: @screen__m) {
  .navigation, .breadcrumbs,
  .page-header .header.panel,
  .header.content, .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom, .block.category.event,
  .top-container, .page-main {
  max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

main#maincontent {
  padding-left: 0;
  padding-right: 0;
}

.footer.content {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.sections.nav-sections {
  margin: 0;
}
.banner-desktop {
  display: none;
  @media(min-width: 768px) {
    display: block;
    position: relative;
    .banner-desktop-text {
      width: 538px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .text-title {
      font-weight: 600;
    }

    .text-content {
      font-size: 20px;
      padding: 20px 0;
    }

    .banner-desktop-button {
      width: 100%;
      text-align: center;
      background: blue;
    }

    .banner-desktop-button a {
      color: white;
    }

  }

}

.column.main{
  .mixin();

  p {
    margin-bottom: 0;
  }
}
.banner-mobile {
  position: relative;

  @media (min-width: 768px) {
    display: none;
  }
  .discount-banner, .title-banner, a.category-button {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: white;
  }
  .discount-banner {
    top: 7%;
    font-size: 1.2em;
    font-weight: bold;
    transform: rotate(-5deg);
  }

  .title-banner {
    top: 19%;
    font-size: 3em;
    @media (min-width: 460px) {
      font-size: 4em;
    }
    font-family: 'Dancing Script', cursive;
  }

  a.category-button {
    width: 50%;
    bottom: 10%;
    left: 25%;
  }
}
a.category-button {
  &:hover {
    text-decoration: none;
  }
  width: 70%;
  display: inline-block;
  text-align: center;
  color:white;
  font-size: 1em;
  font-weight: bold;
  padding: 6px 0;
  background: #4894d1;
  border-radius: 2px;
}

.box-category {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  color: #343434;
  .name-category {
    font-size: 1.3em;
    font-weight: 600;
    //color: #343434;
  }

  .label-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-straight {
    width: 30px;
    height: 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .label-text {
    margin: 0 5px 0 8px;
    img.icon-g {
      width: 22px;
      transform: scale(1) translateY(0);
    }
  }
  .introduce-category {
    margin-bottom: 20px;
    font-size: 0.9em;
    //color: #343434
  }
}
.box-category:nth-child(2) {
  background: #f4f4f4;
}
.box-category:nth-child(3) {
  margin-top: 47px;
  position:relative;
  overflow: hidden;
  height: 30.5em;
  background: #f8f8f8;
  img {
    transform: scale(2.2) translateY(32px);
  }
  .label-homepage,.name-category, .introduce-category ,a.category-button{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .name-category{
    top:62%;
    font-weight: 600;
  }

  .label-homepage {
    top: 42%;
  }

  .introduce-category {
    bottom:15%;
  }
  a.category-button {
  width: 70%;
    left: 15%;
    bottom:8%;
  }
}

/*=======================
LESS FOR NEDEN GALAPEL
=======================*/

.neden_galapel {
  background: #f8f8f8;
  padding: 15px 15px 0 15px;

}

.neden-galapel-title, .block-title , .title-yorumlar{
  width: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    height: 0px;
    border-top: 1px solid #dadada;
  }
  h2 {
    white-space: nowrap;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1.5em;
    transform: translateY(-3px);
  }
}
.box-neden-content {
  display: flex;
  flex-wrap: wrap;

  @media (min-width:700px) {
      font-size: 20px;
  }

  .box-neden {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    @media (min-width: @screen__m) {
      width: 50%;
      font-size: 15px;
    }

    @media (min-width: @screen__xl) {
      width: 33%;
      font-size: 15px;
      flex-wrap: inherit;
      text-align: center;

    }
    .icon-neden.fas {
      font-weight: 900;
      font-size: 4em;
      padding:0 0 0 15px;
      color:#4894d1;

      @media (min-width: @screen__xl) {
        margin: auto;
      }
    }
    .text-neden {

      p.title-neden {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 5px;

        @media (min-width: @screen__xl) {
          font-size: 1.6em;
          padding: 15px 0;
        }
      }

      p.content-neden {
        line-height: 1.3em;
        width: 100%;
        color: #727272;
      }
    }

  }
}


// .fa, .fas {
//  font-weight: 900;
//  font-size: 4em;
//  padding: 0 15px;
//  color:#4894d1;
//}



/*=======================
DIGER KATEGORILER
=======================*/
.block.widget.block-products-list.grid{
  .mixin(@one:18px, @two:18px, @three:18px, @four:16px);

}

ol.product-items {
  display: flex;
  overflow: scroll;
}
span.product-image-container {
  background: #fafafa;
}
a.product-item-link:hover {
  text-decoration: none;
}

.column.main li.product-item {
  width: 300px;
  @media (min-width: 1024px) {
    width: 23% !important;
    margin: 0 1%;
  }

  .product-item-info {
    text-align: center;

    strong.product-item-name {
      font-weight: 600;
      font-size: 1.5em;
    }
  }
}
.introduce-product {
  padding-bottom: 25px;
}
.product-item-info {
  width: 300px;
}

img.product-image-photo {
  width: 300px !important;
}

span.product-image-container {
  width: 300px !important;
}
span.product-image-wrapper {
  padding-bottom: 100% !important;
}

a:hover {
  text-decoration: none;
}

/*=======================
BLOG PRODUCT
=======================*/
.blog-product {
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @screen__m) {
    .box-blog {
        width: 31%;
        margin: 0 1%;
    }
  }
  .fas.fa-caret-right {
    color: #4894d1;
  }
  .title-blog {
    font-weight: 600;
    margin-top: 10px;
  }

  .summary-blog {
    margin: 5px 0;
    color: #727272;
  }

  a.link-block {
    font-weight: 600;

    .fas.fa-caret-right {
      font-size: 1.2em;
      padding: 0;
      transform: translateY(2px);
    }
  }
}

/*=======================
GALAPEL YORUMLAR
=======================*/


.boxs-total {
  .mixin(@one:16px, @two:16px, @three:17px, @four:19px);

  .owl-nav {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      top: 40%;
      color: red;
      width: 100%;

      span {
        font-size: 30px;
      }
    }

  }

  button.owl-next {
    float: right;
  }

  .box-yorumlar2 {
    text-align: center;
    margin: 0 22px;

    .name-yorumlar2 {
      font-weight: 600;
      margin-top: 10px;
      font-weight: bold;
    }

    .content-yorumlar2 {
      margin-bottom: 20px;
    }
  }
}
//  .boxs-content {
//    .box-yorumlar {
//      text-align: center;
//      margin: 0 22px;
//
//      .name-yorumlar {
//        font-weight: 600;
//        margin-top: 10px;
//        font-weight: bold;
//      }
//
//      .content-yorumlar {
//        margin-bottom: 20px;
//      }
//    }
//  }
//}
//
//.next, .previous {
//  display: none;
//}
